.custom-margin-x{
    margin-right: 20px;
}

.custom-margin-y{
    margin-top: 40px;
}

.custom-center{
    margin: 0 auto;
    margin-top: 30px;
}

.product{
    max-width: 540px;
}

.img-card{
    height: 2rem;
    width: 2rem;
}

.btn-card{
    margin-right: 10px;
    margin-bottom: 10px;
}
