<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Carrito de compras</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{url_for('index')}}">Inicio</a>
            <a href="{{url_for('productos')}}">Tienda</a>
            <a href="{{url_for('listado')}}">Listado</a>
            <a href="{{url_for('carrito')}}">Carrito</a>
            <a href="{{url_for('login')}}">Login</a>
        </nav>
        <div id="carro">
            {% for carrito in carritos %}
            <h1>Carrito {{carrito[0]}}</h1>
            <div id="compra">
                <p>Nombre: {{carrito[3]}}</p>
                <p>Precio: {{carrito[4]}}</p>
                <p>Cantidad: {{carrito[5]}}</p>
                <button id="botonCompra" style="background-color:red;"><img id="imgCompra" src="./static/images/papelera.png"></button>
            </div>
            {% endfor %}
            <button id="confirmar">Confirmar compra</button>
        </div>
    </body>
</html>