{% extends './layout.html' %}

{% block title %}Listado de pedidos{% endblock %}

{% block body %}
<p class="text-center font-monospace h1 custom-margin-y">Listado de pedidos</p>
{% for carrito in carritos %}
<div class="card mb-3 custom-center product">
    <div class="row g-0 col-md-8">
        <div class="card-body">
            <h5 class="card-title font-monospace">ID del pedido: {{pedido[0]}}</h5>
            <p class="card-text font-monospace">Usuario: {{pedido[1]}}</p>
            <p class="card-text font-monospace">Fecha de pedido: {{pedido[2]}}</p>
            <p class="card-text font-monospace">Fecha de la entrega: {{pedido[3]}}</p>
            <p class="card-text font-monospace">Estado: {{pedido[4]}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
