<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <a href="{{url_for('index')}}">Inicio</a>
            <a href="{{url_for('productos')}}">Tienda</a>
            <a href="{{url_for('listado')}}">Listado</a>
            <a href="{{url_for('carrito')}}">Carrito</a>
            <a href="{{url_for('login')}}">Login</a>
        </nav>
        <div style="text-align: center;border: 2px solid black;padding: 10rem; margin-top: 5rem; ">
            <p>Iniciar Sesión</p>
            <form id="caja" action="/api/login" method="POST">
                <input type="email" name="email" placeholder="correo electrónico" required>
                <input type="password" name="password" placeholder="contraseña" required>
                <button style="margin-top: 10px;" type="submit">registrar</button>
            </form>
        </div>
    </body>
</html>