{% extends './layout.html' %}

{% block title %}Selector de productos{% endblock %}

{% block body %}
<p class="text-center font-monospace h1 custom-margin-y">Selector de productos</p>
{% for producto in articulos %}
<div class="card mb-3 custom-center product">
    <div class="row g-0 col-md-8">
        <div class="card-body">
            <h5 class="card-title font-monospace">{{producto[1]}}</h5>
            <div class="col-md-4">
                <img src="img/aux.png" class="img-fluid rounded-start">
            </div>
            <p class="card-text font-monospace">{{producto[2]}}</p>
            <p class="card-text font-monospace">{{producto[3]}}</p>
        </div>
    </div>
    <div style="margin-left: 10px">
        <p class="font-monospace">Disponible</p>
        <button class="btn btn-warning btn-card" type="button"><img src="./static/images/carrito.png" class="img-card"/></button>
    </div>
</div>
{% endfor %}
{% endblock %}
